.textpage1 p{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    flex-direction: column;
    font-family: 'Trebuchet MS';
    transform: translate(0%,600%)
}

.textpage1 h1 {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    flex-direction: column;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    transform: translate(0%,300%)
}

.textpage2 p{
    color: whitesmoke;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    transform: translate(5%, 300%);
}

.textpage2 h1{
    color: whitesmoke;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 40px;
    font-family:'Trebuchet MS';
    transform: translate(5%,175%);
}

.textpage3 h1 {
    color: whitesmoke;
}

.textpage3 p {
    color: whitesmoke;
}


.textpage4 h1 {
    color: whitesmoke;
}

.textpage4 p {
    color: whitesmoke;
    font-family: 'Trebuchet MS';
}

.textpage5 h1 {
    color: whitesmoke;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 40px;
    font-family:'Trebuchet MS';
    top: 50%;
    transform: translate(8%,400%);
}
.textpage5 p {
    color: whitesmoke;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 24px;
    font-family:'Trebuchet MS';
    top: 50%;
    transform: translate(8%,500%);
}

.textpage6 h1 {
    color: whitesmoke;
    display: flex;
    align-items: right;
    position: relative;
    top: 90px;
    left: 750px;
    font-weight: bold;
    font-size: 38px;
}

.textpage6 p{
    color: white;
    display: flex;
    align-items:left;
    margin: 0.5%;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    text-align: right;
    position: relative;
    top: 90px;
    left: 750px;
}

@media only screen and (max-width: 600 px) {
    body {
        background:scroll;
    }
}    
@mixin desktop {
    @media (min-width: (1025px)) {
        @content;
}
}