body{
    background-color: red;
    background-image: url("C:\COURSES\BINAR FSW\assetsChallengCh3\assets\main-bg.jpg");
}

@media only screen and (max-width: 600 px) {
    body {
        background:scroll;
    }
}